.formulaire{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.login{
  text-align: center;
  color:#fe12ca;
  text-shadow: 1px 1px 1px #ccc;
  font-size:20px;
}
.password{
  text-align: center;
  color:#fe12ca;
  text-shadow: 1px 1px 1px #ccc;
  font-size:20px;
}

.submit{
  font-size:20px;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 1px 1px 1px #fe12ca;
  outline-style:none;
  outline-color: #fe12ca;
}

.submit:active{
  background:#fe12ca;
  border:1px solid #fe12ca inset;
}
