body{
  margin: 0;
  padding: 0;
}

#Inscription{
  border:1px solid black;
  background:#fff;
  width:50%;
  min-height: 400px;
  max-height: auto;
  margin:2.5% auto;
  display: flex;
  flex-direction: column;
  visibility: hidden;
}

#main{
  border:1px solid #fff;
  background:#fff;
  width:50%;
  min-height:400px;
  max-height: auto;
  margin:2.5% auto;
  display: flex;
  flex-direction: column;
}

.FirstName, .LastName, .Email{
  width:40%;
  margin:auto;
  text-align: center;
}

.login{
  margin:auto;
  text-align: center;
  width:40%;
}

.password{
  margin:auto;
  width:40%;
  text-align: center;
}

.envoi{
  margin:auto;
  width:40%;
  margin-bottom: 10%;
}

.title{
  text-align: center;
  font-style: italic;
  color:#fff;
  text-decoration:underline;
  text-shadow: 1px 1px 1px #f00,
  2px 2px 2px #f00;
}

.div{
  background-color: lime;
  color:#BB0B0B;
  text-shadow: 1px 1px 1px #fff;
  overflow-y:scroll;
  width:50%;
  margin:auto;
  word-wrap: break-word;
}

#main2{
  visibility: hidden;
  width:100%;
  height:100px;
  margin:auto;
}

.meetup{
  background:#fff;
  margin:1% auto;
  width:80%;
  height:auto;
  border:1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom:10%;
  box-shadow: 5px 5px 5px #ccc;
}

.image{
  max-height: 120px;
  box-shadow: 2px 2px 2px #ccc;
  box-shadow: 5px 5px 5px #ccc;

}

.meetup_header{
  padding-top: 10px;
  padding-bottom: 10px;
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:98%;
  margin:auto;
}

.meetup_section_description{
  margin:auto;
  padding:0;
  width:100%;
  word-wrap: break-word;
  overflow-y: scroll;
  text-align: left;
}

.meetup_section_description h3{
  padding-left: 1%;
}

.meetup_footer{
  margin-top: 5%;
  margin-bottom:5%;
}

#main2 .header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10%;
}


.body{
  margin:auto;width:80%;
  display:flex;
  justify-content:center;
  flex-direction:column;
  align-items:center;
}

img{
  width: 280px;
}

.locations{
  margin:auto;
  width:60%;
  display:flex;
  justify-content:center;
  flex-direction:column;
  background:#fff;
  align-items:center;
}

.speakers{
  margin:auto;
  width:60%;
  background: #fff;
  display:flex;
  justify-content:center;
  flex-direction:column;
  align-items:center;
}

#main3{
  visibility: hidden;
  margin:auto;
  width:80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  word-wrap: break-word;
}


.locations{
  text-align: center;
}

.speakers{
  text-align: center;
}

#main2 .header{
  background:red;
  display:flex;
  justify-content: space-around;
  width:100%;
  height:10px;
  margin-bottom: 10%;
  align-items: center;
  flex-direction: row;
  flex-grow: 1;
  min-height: 100px;
  max-height: auto;
}

.Add_Subscribers{
  margin:auto;
  width:20%;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  align-items: center;
  flex-direction: column;
}

.First_Name,.Last_Name,.Addresse_Email{
  width:100%;
  margin-bottom:20%;
  text-align: center;
  border-radius: 10px;
}

.button{
  border-radius: 10px;
}

.envoiSubscribers{
  width:100%;
  border-radius: 10px;
  margin-bottom: 20%;
  text-align: center;
  outline-style:none;
  box-shadow: -1px 2px 10px 3px rgba(100, 200, 213, 0.3);
}

.envoiSubscribers:active{
  box-shadow: -1px 2px 10px 3px rgba(122, 122, 122, 1) inset;
  outline-style:none;
}

.Add_Meetup{
  margin:auto;
  width:20%;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  align-items: center;
  flex-direction: column;
}

.Description,.Images,.Title{
  width:100%;
  margin-bottom:2%;
  text-align: center;
  border-radius: 10px;
}

.images{
  margin-top: 2%;
}

.images_meetup{
  margin-top:5%;
  margin-bottom: 5%;
}

.envoiMeetup{
  width:100%;
  border-radius: 10px;
  margin-bottom: 20%;
  text-align: center;
  box-shadow: -1px 2px 10px 3px rgba(100, 200, 213, 0.3);
  outline-style:none;
}

.envoiMeetup:active{
  box-shadow: -1px 2px 10px 3px rgba(122, 122, 122, 1) inset;
  outline-style:none;
}

.First_name,.Last_Name,.envoiSpeaker{
  width:100%;
  margin-bottom:20%;
  text-align: center;
  border-radius: 10px;
}

.right_header_meetup{
  width:30%;
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.left_header_meetup{
  width:100%;
  height:40px;
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
}

.modif{
  width:40px;
  height:40px;
}

.delete{
   width:45%;
  height:100%;
  background-image:url('');
  background-repeat: no-repeat;
  background-size: 100%;
}

.Add_Speaker{
  margin:auto;
  width:20%;
  display: flex;
  justify-content: center;
  border-radius: 10px;
  align-items: center;
  flex-direction: column;
}


.Updatemeetup{
  margin:auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.update__title,.update__image,.update__description{
  width:40%;
  margin:auto;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: center;
}

.envoi{
  border-radius: 10px;
  margin-bottom: 1%;
}

.image_meetup{
  width:40px;
  height:40px;
}

.meetup_container{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.tableau{
  width:50%;
  background:#BB0B0B;
  border-collapse: collapse;
}

.colonne_Right td{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  background:#BB0B0B;
  color:#fff;
}


.Participants{
  width:auto;
  height:auto;
  margin:auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.FirstNameParticipants{
  width:100%;
  text-align: center;
}

.LastNameParticipants{
  width:100%;
  text-align: center;
}

.MailParticipants{
  width:100%;
  text-align: center;
}